{% extends "auctions/layout.html" %}

{% block body %}

    <h1 class="heading">Login</h1>
    <hr>

    {% if message %}
        <div class="error-message">{{ message }}</div>
    {% endif %}

    <form action="{% url 'auctions:login' %}" class="page-form" method="post">
        {% csrf_token %}
        <input autofocus type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input class="form-button" type="submit" value="Login">
    </form>

    <div class="entry-footer">DON'T HAVE AN ACCOUNT? <a href="{% url 'auctions:register' %}">REGISTER HERE.</a></div>

{% endblock %}