{% extends "auctions/layout.html" %}

{% block body %}

    <h1 class="heading">Register</h1>
    <hr>

    {% if message %}
        <div class="error-message">{{ message }}</div>
    {% endif %}

    <form action="{% url 'auctions:register' %}" class="page-form" method="post">
        {% csrf_token %}
        {{ registerForm }}
        <input class="form-control" type="password" name="password" placeholder="Password">
        <input class="form-control" required type="password" name="confirmation" placeholder="Confirm Password">
        <input class="form-button" required type="submit" value="Register">
    </form>

    <div class="entry-footer">ALREADY HAVE AN ACCOUNT? <a href="{% url 'auctions:login' %}">LOG IN HERE.</a></div>

{% endblock %}